<h1>Sign Up</h1>

<%= form_for @musician do |f| %>

<% if @musician.errors.any? %>
  <div class="alert alert-error text-error">
    <h2> Bad input! </h2>
    <ul>

      <% @musician.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
  </div>
<% end %>

<%= f.label :email %></br>
<%= f.text_field :email %></br>
<%= f.label :password %></br>
<%= f.password_field :password %></br>
<%= f.label :first_name %></br>
<%= f.text_field :firstname %></br>
<%= f.label :last_name %></br>
<%= f.text_field :lastname %></br>
<%= f.label :venue %></br>
<%= f.text_field :venue %></br>

<p>Instrument(s)</p>
<% @instruments.each do |instrument| %>
  <input type="checkbox">
  <%= instrument.name %>
<% end %>
</br>
<%= f.submit %>
<!--
  For instruments, use f.select (or one of its cousins). Give it the
  @instruments for options, and specify "multi: true" in its HTML
  options hash so that it becomes a multi-select dropdown.
-->
<% end %>