<div class="navbar">
    <div class="navbar-inner">
      <div class = "container">
        <a href="/jams" class="brand"> Jam with Friend</a>
        <ul class="nav">
          <li><%= link_to "Musicians", musicians_path %></li>
          <li><%= link_to "Join a Jam", join_jams_path %> </li>
          <li><%= link_to "Start a Jam", start_jams_path %> </li>
        </ul>
        <%- if logged_in? %>
        <ul class='nav'>
          <li class='push-right'><%= link_to "Logout (#{current_user.email})", log_out_path%> </li>
        </ul>
        <%- end %>
      </div>
    </div>
  </div>
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, raw(msg), class: "alert alert-#{name}") %>
    <% end %>
  </div>